:root{
    --yellow-green-crayola: #d0db97ff;
    --medium-sea-green: #69b578ff;
    --fern-green: #3a7d44ff;
    --british-racing-green: #254d32ff;
    --raisin-black: #181d27ff;
}


body{
    background-color: var(--raisin-black);
    color: var(--yellow-green-crayola);
    width: 100vw;
    height: 100vh;
    text-align: center;
}
#main-wrapper{
    margin: auto;
    padding: 15px 0;
    margin-top: 15px;
    background-color: var(--yellow-green-crayola);
    width: 75vw;
    height: 55vh;
    border-radius: 15px;
    margin-bottom: 3vh;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(90, 90, 90);
  }
  
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
  }

#actions-wrapper {
    margin: auto;
    margin-top: 15px;
    background-color: var(--yellow-green-crayola);
    width: 75vw;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 3vh;
}


h1{
    color: var(--yellow-green-crayola);
    margin-top: 10vh;
    margin-bottom: 5vh;
}

input{ 
    background-color: var(--yellow-green-crayola) !important; 
    color: var(--raisin-black);
    width: auto;
}
section, ul{
    margin: auto;
    padding: 0;
}
.main-wrapper{
    margin: auto;
}

.container-note{
    margin: auto;
    display: flex;
    justify-content: space-between;
    color: var(--raisin-black);
    background-color: rgb(188, 199, 134);
    margin-top: 5px;
    padding: 10px;
    border-radius: 15px;
    width: 65vw;
}
.container-note-check{
    margin: auto;
    display: flex;
    justify-content: space-between;
    color: var(--raisin-black);
    background-color: rgb(139, 199, 134);
    margin-top: 5px;
    padding: 10px;
    border-radius: 15px;
    width: 65vw;
}
button{
    border-radius: 5px;
    background-color: var(--yellow-green-crayola);
}